@import "../../global.scss";

.contactSection {
  position: relative;
  gap: 5rem;
  min-height: 100vh;
  padding: 3rem 7rem;
  padding-right: 4rem;
  background: $white-300;
  overflow: hidden;
  @include box-center($justify: space-between);
  h2 {
    margin-bottom: 4rem;
  }
  .circleSection1 {
    @include circle($width: 5rem, $background: $light-blue-200);
    left: 0;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 200;
  }
  .circleSection2 {
    @include circle($width: 9rem, $background: $white-400);
    left: -4rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .circleSection3 {
    @include circle($width: 5.5rem, $background: $light-blue-100);
    left: 40%;
    top: 1.5rem;
  }
  .circleSection4 {
    @include circle($width: 10rem, $background: $light-blue-300);
    right: 8%;
    bottom: -3rem;
  }
  .left {
    max-width: 32rem;
    width: 50%;
    margin-bottom: 3rem;
  }
  .illustr {
    width: 50%;
    height: 30rem;
    @include box-center;
    position: relative;
  }
  .circle1 {
    @include circle($width: 5rem, $background: $dark-blue-200);
    transform: translate(-11rem, 11rem);
    z-index: 200;
  }
  .circle2 {
    @include circle($width: 10rem, $background: $light-blue-400);
    transform: translate(12rem, -12rem);
    z-index: 200;
  }
  .circle3 {
    @include circle($width: 5.5rem, $background: $white-100);
    transform: translate(12rem, -7rem);
    z-index: 300;
  }
  .circleIllustr {
    overflow: hidden;
    @include circle($width: 30rem, $background: $dark-blue-100);
  }
}

@media screen and (max-width: 1100px) {
  .contactSection {
    .circle1 {
      width: 3rem;
      height: 3rem;
      transform: translate(-7rem, 7rem);
    }
    .circle2 {
      width: 7rem;
      height: 7rem;
      transform: translate(8rem, -8rem);
    }
    .circle3 {
      width: 3.5rem;
      height: 3.5rem;
      transform: translate(8rem, -4rem);
    }
    .circleIllustr {
      width: 20rem;
      height: 20rem;
    }
  }
}
@media screen and (max-width: 900px) {
  .contactSection {
    padding: 5rem 3rem 3rem 3rem;
    gap: 2rem;
    .circleSection1 {
      width: 3.5rem;
      height: 3.5rem;
    }
    .circleSection2 {
      width: 7rem;
      height: 7rem;
    }
    .circleSection3 {
      width: 3.5rem;
      height: 3.5rem;
    }
    .circleSection4 {
      width: 7rem;
      height: 7rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .contactSection {
    flex-direction: column;
    padding-right: initial;
    padding: 3rem;
    gap: 0;
    .left {
      width: 100%;
      max-width: 28rem;
    }
    .illustr {
      width: 100%;
      height: 20rem;
    }
    .circleSection1 {
      width: 3rem;
      height: 3rem;
    }
    .circleSection2 {
      width: 7rem;
      height: 7rem;
      top: 46%;
    }
    .circleSection3 {
      left: 80%;
    }
    .circle1 {
      width: 2rem;
      height: 2rem;
      transform: translate(-4rem, 4rem);
    }
    .circle2 {
      width: 4rem;
      height: 4rem;
      transform: translate(4.5rem, -4.5rem);
    }
    .circle3 {
      width: 2rem;
      height: 2rem;
      transform: translate(5rem, -3rem);
    }
    .circleIllustr {
      width: 12rem;
      height: 12rem;
    }
  }
}
